@import 'tailwindcss';

@theme {
  --font-display: 'Raleway';

  --color-primary: #292929;
  --color-header: #1c1c1c;
  --color-body: #0f0f0f;

  --screen-mobile: '768px';
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: theme('font.display');
}

body {
  background-color: theme('colors.body');
  color: #fff;
}

.overlay-slick-hero {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
    to right,
    theme('colors.body') 30%,
    transparent 90%,
    theme('colors.body')
  );
}

.overlay-film-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent 10%, theme('colors.body'));
}
