@import "tailwindcss";

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #0f0f0f;
  color: #fff;
}

.overlay-slick-hero {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to right, #0f0f0f 30%, transparent 90%, #0f0f0f);
}

.overlay-film-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent 10%, #0f0f0f);
}
